<div id="index-suite-container">
	<h1>{{suite.name}}</h1>

	<ul class="nav nav-tabs btn-material-grey" style="margin-bottom: 15px;">
	    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
	    <li><a href="#history" data-toggle="tab">History</a></li>
	    <li><a href="#tests" data-toggle="tab">Tests</a></li>
	</ul>
	<div class="tab-content">
	    <div class="tab-pane fade active in" id="info">
			<div id="panel-information" class="panel panel-default">
			    <div class="panel-heading">Suite Information</div>
			    <div class="panel-body">
			        Panel content
			    </div>
			</div>
	    </div>
	    <div class="tab-pane fade" id="history">
			<div id="panel-history" class="panel panel-default">
			    <div class="panel-heading">Histroy</div>
			    <div class="panel-body">
			        Panel content
			    </div>
			</div>
	    </div>
	    <div class="tab-pane fade" id="tests">
			<div id="panel-tests" class="panel panel-default">
			    <div class="panel-heading">Tests</div>
			    <div class="panel-body">
			        Panel content
			    </div>
			</div>
	    </div>
	</div>
</div>